{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
    {% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    rel="stylesheet" media="screen" />
    <link href="{% static 'style.css' %}"
    rel="stylesheet" />

    {% block script %}
    {% endblock %}
  </head>

    {% block body %}
    <h1 class="text-info">HELLO DJANGO!</h1>
    {% endblock %}

</html>
