{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>Menu</title>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block body %}

<body class = 'text-center content_body'>

    <nav class="navbar navbar-expand-sm navbar-light nav-fill">
      <a class="navbar-brand" href="#">
      <img src="{% static 'assets/brand.gif' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center"  id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'trackorders' %}">Track your orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart' %}">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="jumbotron jumbotron-fluid">
        <h1><strong>Hello, {{user.username}}</strong></h1>
        <h3>Welcome to Pinocchio's!</h3>
      </div>
    </div>


    <div class="container-fluid" id='Menu'>
      <div class="center-title">
        <h2 >Our food menu</h2>

      </div>

      <div class="foodMenu">
        <div>
          <!-- Nav tabs -->
          <ul class="nav  tabs-menu-nav justify-content-center mb30" role="tablist">
              <li class="nav-item">
                <a class="nav-link active show" href="#pizza" aria-controls="pizza" data-toggle="tab" aria-selected="true">Pizza</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Subs" aria-controls="Subs" data-toggle="tab" aria-selected="false">Subs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Pasta" aria-controls="Pasta" data-toggle="tab" aria-selected="false">Pasta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Salads" aria-controls="Salads" data-toggle="tab" aria-selected="false">Salads</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#dinnerPlatter" aria-controls="dinnerPlatter" data-toggle="tab" aria-selected="false">Dinner Platter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Toppings" aria-controls="Toppings" data-toggle="tab" aria-selected="false">Toppings</a>
              </li>
          </ul>

          <!-- Tab panes -->
          <!-- There will be one tab for each type of menu: pizza, sub, salad etc
          Most of the code will be similar to display the menu. Differences are in the form modal popup to submit the order -->
          <div class="tab-content">
              <!-- pizza tab -->
              <div role="tabpanel" class="tab-pane fade active show" id="pizza">
                <p class="text-white-gray">Check out our list of toppings available in the toppings tab!</p>
                  <div class="row">
                      <!-- First half of pizza entries for left half of menu -->
                      <div class="col-md-6 mb20">

                        {% for entry in pizza1 %}
                          <article class="media">
                              <!-- Article Image -->
                              <a class = "pizzaEntry" href='#pizza1{{ forloop.counter }}' data-toggle="modal">
                                  <img class="mr-4" width="100" height="100" src="{% static 'assets/'|add:entry.Type|add:'_'|add:entry.Details|add:'.jpg' %}" alt="Menu title">
                              </a>


                              <!-- Modal -->
                              <div class="modal fade" id="pizza1{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <form id="role-form" action='/submitorderpizza'  method="POST">
                                      {% csrf_token %}
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{entry.Type}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <label for="Type" class="col-sm-2">Type</label>
                                          <input name="Type" type="text" class="" value="{{entry.Type}}" readonly />
                                        </div>
                                        <div class="form-group">
                                          <label for="Size" class="col-sm-2">Size</label>
                                          <input name="Size" type="text" class="" value="{{entry.Size}}" readonly />
                                        </div>

                                        {% if entry.Details == '1 Topping' %}
                                        <p>Please choose {{ entry.Details }}</p>
                                          <div class="form-group">
                                            <label for="Topping 1" class="col-sm-4">Choose topping</label>
                                            <select name="Topping 1" class="form-control">
                                              {% for topping_entry in toppings %}
                                                <option value="{{topping_entry.Type}}">{{topping_entry.Type}}</option>
                                              {% endfor %}
                                            </select>
                                          </div>
                                        {% else %}
                                          {% if entry.Details == '2 Toppings' %}
                                          <p>Please choose {{ entry.Details }}</p>
                                            <div class="form-group">
                                              <label for="Topping 1" class="col-sm-4">Choose Topping</label>
                                              <select name="Topping 1" class="form-control">
                                                {% for topping_entry in toppings %}
                                                  <option value="{{topping_entry.Type}}">{{topping_entry.Type}}</option>
                                                {% endfor %}
                                              </select>
                                            </div>
                                            <div class="form-group">
                                              <label for="Topping 2" class="col-sm-4">Choose Topping</label>
                                              <select name="Topping 2" class="form-control">
                                                {% for topping_entry in toppings %}
                                                  <option value="{{topping_entry.Type}}">{{topping_entry.Type}}</option>
                                                {% endfor %}
                                              </select>
                                            </div>
                                          {% else %}
                                            {% if entry.Details == '3 Toppings' %}
                                            <p>Please choose {{ entry.Details }}</p>
                                              <div class="form-group">
                                                <label for="Topping 1" class="col-sm-4">Choose Topping</label>
                                                <select name="Topping 1" class="form-control">
                                                  {% for topping_entry in toppings %}
                                                    <option value="{{topping_entry.Type}}">{{topping_entry.Type}}</option>
                                                  {% endfor %}
                                                </select>
                                              </div>
                                              <div class="form-group">
                                                <label for="Topping 2" class="col-sm-4">Choose Topping</label>
                                                <select name="Topping 2" class="form-control">
                                                  {% for topping_entry in toppings %}
                                                    <option value="{{topping_entry.Type}}">{{topping_entry.Type}}</option>
                                                  {% endfor %}
                                                </select>
                                              </div>
                                              <div class="form-group">
                                                <label for="Topping 3" class="col-sm-4">Choose Topping</label>
                                                <select name="Topping 3" class="form-control">
                                                  {% for topping_entry in toppings %}
                                                    <option value="{{topping_entry.Type}}">{{topping_entry.Type}}</option>
                                                  {% endfor %}
                                                </select>
                                              </div>
                                            {% else %}
                                            <div class="form-group">
                                              <label for="defaultIngredient" class="col-sm-3">Ingredient</label>
                                              <input name="defaultIngredient" type="text" class="" value="{{entry.Details}}" readonly />
                                            </div>
                                            {% endif %}
                                          {% endif %}
                                        {% endif %}


                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <!-- Modal -->


                            <div class="media-body align-self-center">
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">{{ entry.Type }}, {{entry.Size}}</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">{{ entry.Price }}</strong>
                                    </div>
                                </div>

                                <p class="mb-0">Contains: {{ entry.Details }}</p>
                            </div>
                          </article>
                        {% endfor %}

   <!-- pizza1 -->
                      </div>
                      <!-- Second half of pizza entries for right half of menu -->
                      <div class="col-md-6 mb20">
                        {% for entry in pizza2 %}
                          <article class="media">
                              <!-- Article Image -->
                              <a class = "pizzaEntry" href='#pizza2{{ forloop.counter }}' data-toggle="modal">
                                  <img class="mr-4" width="100" height="100" src="{% static 'assets/'|add:entry.Type|add:'_'|add:entry.Details|add:'.jpg' %}" alt="Menu title">
                              </a>

                              <!-- Modal -->
                              <div class="modal fade" id="pizza2{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <form id="role-form" action='/submitorderpizza'  method="POST">
                                      {% csrf_token %}
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{entry.Type}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <label for="Type" class="col-sm-2">Type</label>
                                          <input name="Type" type="text" class="" value="{{entry.Type}}" readonly />
                                        </div>
                                        <div class="form-group">
                                          <label for="Size" class="col-sm-2">Size</label>
                                          <input name="Size" type="text" class="" value="{{entry.Size}}" readonly />
                                        </div>

                                        {% if entry.Details == '1 Topping' %}
                                        <p>Please choose {{ entry.Details }}</p>
                                          <div class="form-group">
                                            <label for="Topping 1" class="col-sm-4">Choose topping</label>
                                            <select name="Topping 1" class="form-control">
                                              {% for topping_entry in toppings %}
                                                <option value="{{topping_entry.Type}}">{{topping_entry.Type}}</option>
                                              {% endfor %}
                                            </select>
                                          </div>
                                        {% else %}
                                          {% if entry.Details == '2 Toppings' %}
                                          <p>Please choose {{ entry.Details }}</p>
                                            <div class="form-group">
                                              <label for="Topping 1" class="col-sm-4">Choose Topping</label>
                                              <select name="Topping 1" class="form-control">
                                                {% for topping_entry in toppings %}
                                                  <option value="{{topping_entry.Type}}">{{topping_entry.Type}}</option>
                                                {% endfor %}
                                              </select>
                                            </div>
                                            <div class="form-group">
                                              <label for="Topping 2" class="col-sm-4">Choose Topping</label>
                                              <select name="Topping 2" class="form-control">
                                                {% for topping_entry in toppings %}
                                                  <option value="{{topping_entry.Type}}">{{topping_entry.Type}}</option>
                                                {% endfor %}
                                              </select>
                                            </div>
                                          {% else %}
                                            {% if entry.Details == '3 Toppings' %}
                                            <p>Please choose {{ entry.Details }}</p>
                                              <div class="form-group">
                                                <label for="Topping 1" class="col-sm-4">Choose Topping</label>
                                                <select name="Topping 1" class="form-control">
                                                  {% for topping_entry in toppings %}
                                                    <option value="{{topping_entry.Type}}">{{topping_entry.Type}}</option>
                                                  {% endfor %}
                                                </select>
                                              </div>
                                              <div class="form-group">
                                                <label for="Topping 2" class="col-sm-4">Choose Topping</label>
                                                <select name="Topping 2" class="form-control">
                                                  {% for topping_entry in toppings %}
                                                    <option value="{{topping_entry.Type}}">{{topping_entry.Type}}</option>
                                                  {% endfor %}
                                                </select>
                                              </div>
                                              <div class="form-group">
                                                <label for="Topping 3" class="col-sm-4">Choose Topping</label>
                                                <select name="Topping 3" class="form-control">
                                                  {% for topping_entry in toppings %}
                                                    <option value="{{topping_entry.Type}}">{{topping_entry.Type}}</option>
                                                  {% endfor %}
                                                </select>
                                              </div>
                                            {% else %}
                                            <div class="form-group">
                                              <label for="defaultIngredient" class="col-sm-3">Ingredient</label>
                                              <input name="defaultIngredient" type="text" class="" value="{{entry.Details}}" readonly />
                                            </div>
                                            {% endif %}
                                          {% endif %}
                                        {% endif %}


                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <!-- Modal -->

                            <div class="media-body align-self-center">
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">{{ entry.Type }}, {{entry.Size}}</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">{{ entry.Price }}</strong>
                                    </div>
                                </div>

                                <p class="mb-0">Contains: {{ entry.Details }}</p>
                            </div>
                          </article>
                        {% endfor %}
                      </div>
                  </div>
              </div>

              <!-- Subs Tab -->
              <div role="tabpanel" class="tab-pane fade" id="Subs">
                    <p> Add additional cheese to any sub for an additional 0.50!</p>
                     <div class="row">
                      <div class="col-md-6 mb20">
                        {% for entry in sub1 %}
                          <article class="media">
                              <!-- Article Image -->
                              <a class = "subEntry" href='#sub1{{ forloop.counter }}' data-toggle="modal">
                                  <img class="mr-4" width="100" height="100" src="{% static 'assets/sub_'|add:entry.Type|add:'.jpg' %}" alt="Menu title">
                              </a>

                              <!-- Modal -->
                              <div class="modal fade" id="sub1{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <form id="role-form" action='/submitordersub'  method="POST">
                                      {% csrf_token %}
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{entry.Type}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <label for="Type" class="col-sm-2">Type</label>
                                          <input name="Type" type="text" class="" value="{{entry.Type}}" readonly />
                                        </div>
                                        <div class="form-group">
                                          <label for="Size" class="col-sm-2">Size</label>
                                          <input name="Size" type="text" class="" value="{{entry.Size}}" readonly />
                                        </div>
                                        <div class="form-group">
                                          <label for="extraCheese" class="col-sm-6">I want extra cheese! (0.50)</label>
                                          <input type="checkbox" name="extraCheese" value="Extra Cheese">
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <!-- Modal -->

                            <div class="media-body align-self-center">
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">{{ entry.Type }}, {{entry.Size}}</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">{{ entry.Price }}</strong>
                                    </div>
                                </div>

                                <!-- <p class="mb-0">Contains: {{ entry.Details }}</p> -->
                            </div>
                          </article>
                        {% endfor %}
                      </div>

                      <div class="col-md-6 mb20">
                        {% for entry in sub2 %}
                          <article class="media">
                              <!-- Article Image -->
                              <a class = "subEntry" href='#sub2{{ forloop.counter }}' data-toggle="modal">
                                  <img class="mr-4" width="100" height="100" src="{% static 'assets/sub_'|add:entry.Type|add:'.jpg' %}" alt="Menu title">
                              </a>

                              <!-- Modal -->
                              <div class="modal fade" id="sub2{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <form id="role-form" action='/submitordersub'  method="POST">
                                      {% csrf_token %}
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{entry.Type}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <label for="Type" class="col-sm-2">Type</label>
                                          <input name="Type" type="text" class="" value="{{entry.Type}}" readonly />
                                        </div>
                                        <div class="form-group">
                                          <label for="Size" class="col-sm-2">Size</label>
                                          <input name="Size" type="text" class="" value="{{entry.Size}}" readonly />
                                        </div>
                                        {% if entry.Type == 'Steak' %}
                                          {% if entry.Size == 'Small' %}

                                          <div class="form-group">
                                            <label for="extraCheese" class="col-sm-6">Add Cheese! (0.45)</label>
                                            <input type="checkbox" name="steakCheese" value="Steak Cheese">
                                            <label for="steakMushrooms" class="col-sm-6">Add Mushrooms! (0.50)</label>
                                            <input type="checkbox" name="steakMushrooms" value="Steak Mushrooms">
                                            <label for="steakGreenPeppers" class="col-sm-6">Add Green Peppers! (0.50)</label>
                                            <input type="checkbox" name="steakGreenPeppers" value="Steak Green Peppers">
                                            <label for="steakOnions" class="col-sm-6">Add Onions! (0.50)</label>
                                            <input type="checkbox" name="steakOnions" value="Steak Onions">
                                          </div>

                                          {% else %}

                                          <div class="form-group">
                                            <label for="extraCheese" class="col-sm-6">Add Cheese! (0.55)</label>
                                            <input type="checkbox" name="steakCheese" value="Steak Cheese">
                                            <label for="steakMushrooms" class="col-sm-6">Add Mushrooms! (0.50)</label>
                                            <input type="checkbox" name="steakMushrooms" value="Steak Mushrooms">
                                            <label for="steakGreenPeppers" class="col-sm-6">Add Green Peppers! (0.50)</label>
                                            <input type="checkbox" name="steakGreenPeppers" value="Steak Green Peppers">
                                            <label for="steakOnions" class="col-sm-6">Add Onions! (0.50)</label>
                                            <input type="checkbox" name="steakOnions" value="Steak Onions">
                                          </div>

                                          {% endif %}
                                        {% else %}
                                          <div class="form-group">
                                            <label for="extraCheese" class="col-sm-6">I want extra cheese! (0.50)</label>
                                            <input type="checkbox" name="extraCheese" value="Extra Cheese">
                                          </div>
                                        {% endif %}
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <!-- Modal -->

                            <div class="media-body align-self-center">
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">{{ entry.Type }}, {{entry.Size}}</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">{{ entry.Price }}</strong>
                                    </div>
                                </div>

                                {% if entry.Type == 'Steak' %}
                                  {% if entry.Size == 'Small' %}

                                    <p class="mb-0">Add Cheese (0.45), Mushrooms (0.50), Green Peppers (0.50), or Onions (0.50) </p>

                                  {% else %}

                                    <p class="mb-0">Add Cheese (0.55), Mushrooms (0.50), Green Peppers (0.50), or Onions (0.50) </p>
                                  {% endif %}
                                {% endif %}
                            </div>
                          </article>
                        {% endfor %}
                      </div>

                  </div>
              </div>


              <!-- Salads Tab -->
              <div role="tabpanel" class="tab-pane fade" id="Salads">
                  <div class="row">
                      <div class="col-md-6 mb20">
                        {% for entry in salads1 %}
                          <article class="media">
                              <!-- Article Image -->
                              <a class = "saladEntry" href='#salads1{{ forloop.counter }}' data-toggle="modal">
                                  {% if entry.Type == 'Salad w/Tuna' %}
                                    <img class="mr-4" width="100" height="100" src="{% static 'assets/salad_Tuna.jpg' %}" alt="Menu title">
                                  {% else %}
                                    <img class="mr-4" width="100" height="100" src="{% static 'assets/salad_'|add:entry.Type|add:'.jpg' %}" alt="Menu title">
                                  {% endif %}
                              </a>

                              <!-- Modal -->
                              <div class="modal fade" id="salads1{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <form id="role-form" action='/submitordersalads'  method="POST">
                                      {% csrf_token %}
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{entry.Type}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <label for="Type" class="col-sm-2">Type</label>
                                          <input name="Type" type="text" class="" value="{{entry.Type}}" readonly />
                                        </div>

                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <!-- Modal -->

                            <div class="media-body align-self-center">
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">{{ entry.Type }}</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">{{ entry.Price }}</strong>
                                    </div>
                                </div>

                            </div>
                          </article>
                        {% endfor %}
                      </div>

                      <div class="col-md-6 mb20">
                        {% for entry in salads2 %}
                          <article class="media">
                              <!-- Article Image -->
                              <a class = "saladEntry" href='#salads2{{ forloop.counter }}' data-toggle="modal">
                                {% if entry.Type == 'Salad w/Tuna' %}
                                  <img class="mr-4" width="100" height="100" src="{% static 'assets/salad_Tuna.jpg' %}" alt="Menu title">
                                {% else %}
                                  <img class="mr-4" width="100" height="100" src="{% static 'assets/salad_'|add:entry.Type|add:'.jpg' %}" alt="Menu title">
                                {% endif %}
                              </a>

                              <!-- Modal -->
                              <div class="modal fade" id="salads2{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <form id="role-form" action='/submitordersalads'  method="POST">
                                      {% csrf_token %}
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{entry.Type}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <label for="Type" class="col-sm-2">Type</label>
                                          <input name="Type" type="text" class="" value="{{entry.Type}}" readonly />
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <!-- Modal -->

                            <div class="media-body align-self-center">
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">{{ entry.Type }}</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">{{ entry.Price }}</strong>
                                    </div>
                                </div>
                            </div>
                          </article>
                        {% endfor %}
                      </div>

                  </div>
              </div>

              <!-- Pasta Tab -->
              <div role="tabpanel" class="tab-pane fade" id="Pasta">
                  <div class="row">
                      <div class="col-md-6 mb20">
                        {% for entry in pasta1 %}
                          <article class="media">
                              <!-- Article Image -->
                              <a class = "pastaEntry" href='#pasta1{{ forloop.counter }}' data-toggle="modal">
                                  {% if entry.Type == 'Baked Ziti w/Mozzarella' %}

                                    <img class="mr-4" width="100" height="100" src="{% static 'assets/pasta_Mozzarella.jpg' %}" alt="Menu title">
                                  {% else %}
                                    {% if entry.Type == 'Baked Ziti w/Meatballs' %}
                                      <img class="mr-4" width="100" height="100" src="{% static 'assets/pasta_Meatballs.jpg' %}" alt="Menu title">
                                    {% else %}
                                      {% if entry.Type == 'Baked Ziti w/Chicken' %}
                                        <img class="mr-4" width="100" height="100" src="{% static 'assets/pasta_Chicken.jpg' %}" alt="Menu title">
                                      {% endif %}
                                    {% endif %}
                                  {% endif %}
                              </a>

                              <!-- Modal -->
                              <div class="modal fade" id="pasta1{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <form id="role-form" action='/submitorderpasta'  method="POST">
                                      {% csrf_token %}
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{entry.Type}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <label for="Type" class="col-sm-2">Type</label>
                                          <input name="Type" type="text" class="" value="{{entry.Type}}" readonly />
                                        </div>

                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <!-- Modal -->

                            <div class="media-body align-self-center">
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">{{ entry.Type }}</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">{{ entry.Price }}</strong>
                                    </div>
                                </div>

                            </div>
                          </article>
                        {% endfor %}
                      </div>

                      <div class="col-md-6 mb20">
                        {% for entry in pasta2 %}
                          <article class="media">
                              <!-- Article Image -->
                              <a class = "pastaEntry" href='#pasta2{{ forloop.counter }}' data-toggle="modal">
                                {% if entry.Type == 'Baked Ziti w/Mozzarella' %}

                                  <img class="mr-4" width="100" height="100" src="{% static 'assets/pasta_Mozzarella.jpg' %}" alt="Menu title">
                                {% else %}
                                  {% if entry.Type == 'Baked Ziti w/Meatballs' %}
                                    <img class="mr-4" width="100" height="100" src="{% static 'assets/pasta_Meatballs.jpg' %}" alt="Menu title">
                                  {% else %}
                                    {% if entry.Type == 'Baked Ziti w/Chicken' %}
                                      <img class="mr-4" width="100" height="100" src="{% static 'assets/pasta_Chicken.jpg' %}" alt="Menu title">
                                    {% endif %}
                                  {% endif %}
                                {% endif %}
                              </a>

                              <!-- Modal -->
                              <div class="modal fade" id="pasta2{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <form id="role-form" action='/submitorderpasta'  method="POST">
                                      {% csrf_token %}
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{entry.Type}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <label for="Type" class="col-sm-2">Type</label>
                                          <input name="Type" type="text" class="" value="{{entry.Type}}" readonly />
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <!-- Modal -->

                            <div class="media-body align-self-center">
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">{{ entry.Type }}</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">{{ entry.Price }}</strong>
                                    </div>
                                </div>
                            </div>
                          </article>
                        {% endfor %}
                      </div>

                  </div>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="DinnerPlatter">
                  <div class="row">
                      <div class="col-md-6 mb20">
                        {% for entry in dinnerPlatters1 %}
                          <article class="media">
                              <!-- Article Image -->
                              <a class = "dinnerPlatterEntry" href='#dinnerPlatter{{ forloop.counter }}' data-toggle="modal">
                                  <img class="mr-4" width="100" height="100" src="{% static 'assets/DinnerPlatter_'|add:entry.Type|add:'.jpg' %}" alt="Menu title">
                              </a>

                              <!-- Modal -->
                              <div class="modal fade" id="dinnerPlatter{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <form id="role-form" action='/submitorderdinnerplatter'  method="POST">
                                      {% csrf_token %}
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{entry.Type}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <label for="Type" class="col-sm-2">Type</label>
                                          <input name="Type" type="text" class="" value="{{entry.Type}}" readonly />
                                        </div>
                                        <div class="form-group">
                                          <label for="Size" class="col-sm-2">Size</label>
                                          <input name="Size" type="text" class="" value="{{entry.Size}}" readonly />
                                        </div>

                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <!-- Modal -->

                            <div class="media-body align-self-center">
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">{{ entry.Type }}, {{entry.Size}}</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">{{ entry.Price }}</strong>
                                    </div>
                                </div>

                            </div>
                          </article>
                        {% endfor %}
                      </div>

                      <div class="col-md-6 mb20">
                        {% for entry in dinnerPlatters2 %}
                          <article class="media">
                              <!-- Article Image -->
                              <a class = "dinnerPlatterEntry" href='#dinnerPlatter2{{ forloop.counter }}' data-toggle="modal">
                                <img class="mr-4" width="100" height="100" src="{% static 'assets/DinnerPlatter_'|add:entry.Type|add:'.jpg' %}" alt="Menu title">
                              </a>

                              <!-- Modal -->
                              <div class="modal fade" id="dinnerPlatter2{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <form id="role-form" action='/submitorderdinnerplatter'  method="POST">
                                      {% csrf_token %}
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{entry.Type}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <label for="Type" class="col-sm-2">Type</label>
                                          <input name="Type" type="text" class="" value="{{entry.Type}}" readonly />
                                        </div>
                                        <div class="form-group">
                                          <label for="Size" class="col-sm-2">Size</label>
                                          <input name="Size" type="text" class="" value="{{entry.Size}}" readonly />
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <!-- Modal -->

                            <div class="media-body align-self-center">
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">{{ entry.Type }}, {{entry.Size}}</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">{{ entry.Price }}</strong>
                                    </div>
                                </div>
                            </div>
                          </article>
                        {% endfor %}
                      </div>

                  </div>
              </div>


              <div role="tabpanel" class="tab-pane fade" id="Toppings">
                <p>The price of Toppings is included in the price of the Pizza! This is a reference list for availability.</p>
                  <div class="row">
                      <div class="col-md-6 mb20">
                        {% for entry in toppings1 %}
                          <article class="media">
                              <!-- Article Image -->
                            <img class="mr-4" width="100" height="100" src="{% static 'assets/Toppings_'|add:entry.Type|add:'.jpg' %}" alt="Menu title">


                            <div class="media-body align-self-center">
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">{{ entry.Type }}</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">NIL</strong>
                                    </div>
                                </div>

                            </div>
                          </article>
                        {% endfor %}
                      </div>

                      <div class="col-md-6 mb20">
                        {% for entry in toppings2 %}
                          <article class="media">
                              <!-- Article Image -->
                            <img class="mr-4" width="100" height="100" src="{% static 'assets/Toppings_'|add:entry.Type|add:'.jpg' %}" alt="Menu title">


                            <div class="media-body align-self-center">
                                <div class="d-flex justify-content-between mb10">
                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">{{ entry.Type }}</h3>

                                    <div class="align-self-center">
                                        <strong class="text-white font700">NIL</strong>
                                    </div>
                                </div>
                            </div>
                          </article>
                        {% endfor %}
                      </div>

                  </div>
              </div>
          </div>

        </div>
      </div>
    </div>




</body>

{% endblock %}
